.apidoc {
  font-size: 12px;

  .api-box {
    border-bottom: 20px solid $base-background-color;

    .doctop {
      line-height: 45px;
      font-weight:bold;
      padding-left:50px;
      .api-tation{
        color:$blue-font-color;
      }
      .api-new {
        margin-left: 20px;
      }

      .api-down {
        float: right;
        font-size: 12px;
        color:$blue-font-color;
        margin-right: 20px;
      }
    }

    .doclist {
      span {
        display: inline-block;
        text-align: center;
        width: 500px;
        &:first-child{
          color:$explain-font-color;
        }
      }
      line-height: 35px;
      border-top: 1px solid $border-blue-color ;
    }
  }
}