.api-main {
  min-height: calc(100vh - 377px);
  background: $base-background-color ;
  color:$base-font-color
  .api-main-content {
    width: 1200px;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 2px;
      background:$sub-background-color ;
      margin-bottom:20px;
      min-height:400px;

  }
}

.api-tab {
  width: 100%;
  height: 60px;
  line-height: 60px;
  overflow: hidden;
  border-bottom: 1px solid $base-background-color;
  padding-left: 24px;
   li {
  display: inline-block;
  margin: 0 25px;
  font-size: 16px;
  cursor: pointer;
  float: left;
}
  .selected {
    color: $blue-font-color;
    height: 59px;
    border-bottom: 1px solid $blue-font-color;
  }


}