  .cms {
    min-height: calc(100vh - 207px);
    background: $base-background-color;
    color: $base-font-color;
    .cms-main {
      width 1200px;
      margin  0 auto;
      padding-top:20px;
      margin-bottom:20px
      .aside{
        width:220px;
        float: left;
        margin-right:20px;
        background:$sub-background-color;
        border-radius:4px;
        .aside-menu {
          li{
            line-height:20px;
            font-size:14px;
            padding:10px 10px 10px 30px;
            cursor: pointer;
            border-bottom:1px solid $table-border-color;
            word-break: break-all;
          }
          li:last-child{
            border-bottom:0;
          }
          .color, li:hover{
            color :$blue-font-color
            }
        }
      }
      }
      .cms-content{
        padding:30px 45px;
        width:870px;
        border-radius:4px;
        background:$sub-background-color 
        float :left;
        min-height:500px;
         h2{
           margin:20px 0;
           font-size:16px;
           padding-bottom:10px;
           border-bottom:1px solid $gray-font-color
         }
         .title{
           color:$gray-font-color
         }
        p{
          line-height:20px;
        }
        ul {
          li{
            line-height:20px;
          }
        }
        h6{
          line-height:20px;
        }
        }
  }