  .help-center {
    min-height: calc(100vh - 207px);
    background: $base-background-color;
    color: $base-font-color;
    .help-main{
      width: 1200px;
      margin: 0 auto;
      padding-top:20px;
      margin-bottom:20px;
       .let-side{
          width:220px;
          float: left;
          margin-right:20px;
          min-height:300px; 
          border-radius:4px;
          .abroad{
            line-height:55px;
            font-size:14px;
            padding-left:30px;
            cursor: pointer;
            border-bottom:1px solid $table-border-color;
              .within{
                padding:0 10px 10px 10px;
                font-size:14px;
                line-height:20px;
                word-break: break-all;
              }
              .within:hover{
                color:$blue-font-color
              }
               .help_list{
                margin-top:-10px;
                li:last-child{
                  margin-bottom:5px;
                }
           }
           }
           .active {
              color:$blue-font-color 
             }
            background:$sub-background-color
            b{
              font-size:12px;
              margin-left:5px;
            }
         }
        .help-content {
          width:870px;
          float:left;
          min-height:100px;
          padding:30px 45px;
          min-height:500px;
          background:$sub-background-color;
          border-radius:4px;
          p{
            line-height:20px;
            font-size:14px;
            word-break: break-all;
          }
          p.title{
            color :$gray-font-color
          }
          h2 {
            margin:20px 0;
            font-size:16px;
            padding-bottom:10px;
            border-bottom:1px solid $gray-font-color
          }
        }
    }
  }