.login-main {
  min-width: 1200px;
  position: relative;
  background:$base-bgi;
  min-height: calc(100vh - 300px);
  color: $gray-font-color;
  .login-main-cont {
    width: 430px;
    margin: 0 auto 50px auto;
    padding-top: 1px;
    .index-login {
      text-align: center;
      margin: 50px auto 0;
      h3 {
        font-size: 22px;
        text-align: center;
      }
      p {
        display: inline-block;
        line-height: 24px;
        font-size: 15px;
        height: 28px;
        cursor: pointer;
        color: $base-font-color;
      }
      .land {
        margin: 30px 0 20px 0;
        text-align: center;
        width: 49%;
        float: left;
        display: inline-block;
        .findactive {
          border-bottom: 2px solid $blue-font-color;
          color: $blue-font-color;
        }
      }
    }
    .loginBtn {
      width: 200px;
      margin: 20px auto 0 auto;
      display: block;
      font-size: 16px;
    }
    .readOnly {
      opacity: 0.4
    }
    .button_line {
      text-align: center;
      margin-top: 40px;
      .loginBtn {
        display: inline-block;
        width: 180px;
        margin: 0 10px;
      }
    }
  }
   .prom{
    text-align: right;
    padding: 20px 0;
    font-size: 14px;
    color: $blue-font-color;
    i{
      color: $red-color;
    }
  }
  .robot-check-box {
    text-align: left;
    display: block;
    float: left;
    color: $base-font-color;
  }
  .robot-check {
    width: 15px;
    height: 15px;
    float: left;
    margin-right: 5px;
  }
  .error-info {
    color: $red-color;
  }
  .wgt-inlineInput {
    .certifcateNumber {
      .area-code {
        color: $base-font-color;
      }
    }
  }
}