.myapi{
    .qrcode{
      display: inline-block;
      width: 200px;
      height 200px;
      img{
        width: 120px;
        height:120px;
        margin:10px 0 30px 0
      }
    }
    .error-info{
      text-align: left 
      }
.api-contenr {
  text-align: center;
  .prompt {
    padding: 10px;
    line-height: 80px;
    font-size: 14px;
    color: $red-color	;
    text-align: center;
    margin-bottom:20px;
  }
  .loading{
    width:30px;
    height 30px;
    margin: 5% auto  }

  /* 新建api */
  .new-api {
    width: 263px;
    height: 40px;
    line-height: 40px;
    border-radius: 5px;
    margin: 0 0 20px 48px;
    cursor: pointer;
    background: $blue-font-color ;
    color: $white-color;
  }
  .api-list {
    table {
      width: 100%;
      padding-bottom:20px;
    }

    .head {
      font-size: 12px;
        color: #4e5b85

    }

    th, td {
      padding: 10px 0;
    }

    td {
      span {
        margin: 0 5px;
        cursor: pointer;
        color: $blue-font-color

      }
    }
    .no_data{
      height:100px;
      line-height:100px;
      text-align:center;
      font-size:14px
    }
  }
}


}