@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?cimlh0');
  src:  url('fonts/icomoon.eot?cimlh0#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?cimlh0') format('truetype'),
    url('fonts/icomoon.woff?cimlh0') format('woff'),
    url('fonts/icomoon.svg?cimlh0#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-up:before {
  content: "\e900";
}
.icon-left:before {
  content: "\e901";
}
.icon-setting:before {
  content: "\e902";
}
.icon-theme:before {
  content: "\e903";
}
.icon-deph_2:before {
  content: "\e904";
}
.icon-deph .path1:before {
  content: "\e905";
  color: rgb(203, 72, 72);
}
.icon-deph .path2:before {
  content: "\e906";
  margin-left: -18px;
  color: rgb(0, 206, 150);
}
.icon-letters .path1:before {
  content: "\e907";
  color: rgb(0, 0, 0);
}
.icon-letters .path2:before {
  content: "\e908";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-letters .path3:before {
  content: "\e909";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-letters .path4:before {
  content: "\e90a";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-letters .path5:before {
  content: "\e90b";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-phone .path1:before {
  content: "\e90c";
  color: rgb(0, 0, 0);
}
.icon-phone .path2:before {
  content: "\e90d";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-phone .path3:before {
  content: "\e90e";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-phone .path4:before {
  content: "\e90f";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-question .path1:before {
  content: "\e910";
  color: rgb(2, 2, 2);
}
.icon-question .path2:before {
  content: "\e911";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-account:before {
  content: "\e912";
}
.icon-address:before {
  content: "\e913";
}
.icon-alert:before {
  content: "\e914";
}
.icon-api:before {
  content: "\e915";
}
.icon-bill:before {
  content: "\e916";
}
.icon-broadcast:before {
  content: "\e917";
}
.icon-checked:before {
  content: "\e918";
}
.icon-dall:before {
  content: "\e919";
}
.icon-down:before {
  content: "\e91a";
}
.icon-error:before {
  content: "\e91b";
}
.icon-info:before {
  content: "\e91c";
}
.icon-logout:before {
  content: "\e91d";
}
.icon-money:before {
  content: "\e91e";
}
.icon-moon:before {
  content: "\e91f";
}
.icon-nochecked:before {
  content: "\e920";
}
.icon-nostore:before {
  content: "\e921";
}
.icon-order:before {
  content: "\e922";
}
.icon-questuin:before {
  content: "\e923";
}
.icon-right:before {
  content: "\e924";
}
.icon-rise:before {
  content: "\e925";
}
.icon-sdow:before {
  content: "\e926";
}
.icon-search:before {
  content: "\e927";
}
.icon-store:before {
  content: "\e928";
}
.icon-sun:before {
  content: "\e929";
}
.icon-sup:before {
  content: "\e92a";
}
.icon-trade:before {
  content: "\e92b";
}
.icon-user:before {
  content: "\e92c";
}
