
// 公共
// 颜色值变量
@import "./variable" 
// 公共样式
@import "./common"
// 字体ICON
@import "./icon"
// 弹层
@import "./components/dialog"
// Loading
@import "./components/loading"


// 页面头部样式
@import "./components/header"
// 底部	
@import "./components/footer"	
// cms
@import "./components/cms"	
// 帮助中心
@import "./components/help"	
// 公告
@import "./components/notice"	
// 表单文本框 组件
@import "./components/inlineInput"	
// 币币交易
@import "./components/trade"
// 普通K线图样式
@import "./components/chainup"
// 个人中心
@import "./components/personal"
// 谷歌认证
@import "./components/googleBind"
// 个人信息认证
@import "./components/infoAttestation"
// 登陆 注册
@import "./components/login"
// 主页
@import "./components/main"
// api页
@import "./components/apimanage"
// 我的api
@import "./components/myapis"
// 订单管理
@import "./components/order"
// 发起提问
@import "./components/questions"
// 提问详情
@import "./components/detail"
// 资金管理
@import "./components/funds"
// 消息中心
@import "./components/mesage"
// API文档
@import "./components/apidoc"
// 场外首页
@import "./components/otc_home"
// 买卖信息
@import "./components/busines"

@import "./components/otcinput"
// 场外个人中心
@import "./components/otcPersonal"
// 场外广告大厅
@import "./components/otc_adsHall"
// 场外发布广告
@import "./components/otc_publish"
// 场外订单详情页
@import "./components/otc_order"
// 场外发布广告滑动条组件
@import "./components/drag"
@import "./components/agent"


// 合约交易
@import "./components/co_coinTran"
// 合约交易信息
@import "./components/co_funds"
// 合约资金管理
@import "./components/co_manage"
// 交易挖矿
@import "./components/mining"
// 邀请明细
@import "./components/invitation"

