/** 颜色定义规范 变量 &**/


// 用于主背景色
$base-background-color 	= #182540

// 用于前景 区块背景 弹框背景色
$sub-background-color  	= #0a152d

// 用于头部和底部的背景颜色
$public-header-background = #050d1e

// 头部文字颜色
$heade-font-color        = #b7c2ce

// $heade-background-color 颜色的半透明效果，用于列表之间奇偶行的隔行显示。
$subheade-background-color	= rgba(0,5,15,0.3)


// 灰色文字颜色，用于文本框的类似于 placeholder 的文字颜色
$gray-font-color		= #516081

// 弹层背景颜色
$pop-content-background = #050d1e

// 弹层标题背景颜色 
$pop-title-background	= #050d1e


// 用于默认字体颜色
$base-font-color		= #b7c2ce
 
// 默认字体颜色的弱化颜色，介于默认字体颜色和底色之间的文字弱化文字颜色
// 例：表单title 的文字颜色 表格列表中的 时间 币种名称 等文字的颜色、
$explain-font-color		= #7080a3


// 蓝色 用于可点击文字默认状态色 选中的Tab选项下划线以及超链接文字颜色
$blue-font-color 		= #2b89e1

// 蓝色的反转颜色 按钮鼠标移入背景色
$blue-font-hover		= #7a91c7



// 用于表格标题 列表标题 区块头部的背景颜色 
$heade-background-color  = #050d1e

// 用于 表格分割线
$table-border-color     = #172d47

// 用于 表格 列表 鼠标经过后的背景翻转颜色
$list-hover-background  = #050d1d

// 用于 区块的分割线颜色 
$blobk-line-color       = #1a253d

// 用于 区块的边框颜色
$bolok-border-color     = #182540

// 用户文本框边框默认颜色
$border-blue-color  	= #25334f


// 用于input表单里文本框背景颜色 
$input-background		= #17223a

// 用于input表单里文本框获得焦点后的边框颜色
$input-focus-border     = #2b89e1



// ----------用于 卖出或下跌 的：文字颜色、按钮背景色...等一切和涨跌、买卖有关的统一颜色，目前规则：
// 买、涨：绿
// 卖、跌：红
// 绿：
$buy-color				= #01bd8b
// 红：
$sell-color				= #cb4848
// ----------



// 用于星号标记颜色 黄色、提醒的文字颜色
$yellow-color			= #ff9624

// 红色 用于错误提示、警告提示的文字颜色
$red-color				= #ff001d

// 白色
$white-color            = #ffffff

// img Url
// Form 表单（登录注册，个人中心）页面 背景图片
$base-bgi				= $base-background-color  url('../../assets/img/base-bgi.png') no-repeat center 0;

